* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

#backbtn {
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid;
  color: black;
  background-color: lightgray;
  font-size: 12px;
  text-decoration: none;

}

#backbtn:hover {
  background-color: darkgrey;
  cursor: context-menu
}
